/* SalesFormModal.css */

.custom-modal .modal-content {
    background-color: #f7f9fc;
    border-radius: 8px;
    border: none;
  }
  
  .custom-modal .modal-header {
    background-color: #007bff;
    color: white;
    border-bottom: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .custom-modal .modal-body {
    padding: 20px;
  }
  
  .custom-modal .modal-footer {
    border-top: none;
    justify-content: center;
  }
  
  .custom-modal .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .custom-modal .btn-dark {
    color: #007bff;
    border-color: #007bff;
  }
  